/*CSS Reset */
*{
  padding:0; margin: 0;
  box-sizing:border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
/* Cabeçalho */
.header{
  background-color: #c0392b;
  background-image: linear-gradient(#C0392b, rgb(255, 45, 45));
  display:flex;
  flex-direction: column;
}
@media(min-width:600px){
  .header{
    flex-direction: column-reverse;
    
  }
}
.header__title{
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding: 30px;
  text-align: center;
  
}
@media (min-width:600px){
  .header__title{
    text-align: left;
    width: 1200px;
    
    
  }
}
  .header__title--bgwhite{
    background-color: white;
    color: #c0392b;
    font-family: 'Open Sans', sans-serif;
    padding: 4px;
    border-radius: 10px; 
  }
/*Menu*/
.menu{
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  
}
@media (min-width:600px){
  .menu{
    flex-direction: row;
    padding-left: 20px;   
  }
}
.menu__item >a{
  padding:10px;
  text-decoration: none;
  color:#EEEEEE;
  display: block;
}
.menu__item >a:hover{
  color: #C0392B;
  background-color: #EEEEEE;
  
}

/*Pagina Principal */
.series{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

/* Capa da série página principal */
.serie{
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
  .serie__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 10px 0 2px;
  }
  .serie__genre{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color:#A9A4A4;
    display:block;
    padding: 2px 0 10px;
    
  }
  .serie__image{
    display:block;
    max-width: 328px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .serie__readmore{
    font-family: 'Roboto', sans-serif;
    color:white;
    background-color: #c0392b;
    text-decoration: none;
    display:block;
    padding: 5px;
    margin: 10px auto;
    max-width: 330px;
    border-radius: 6px;
  }
    .serie__readmore:hover{
      background-color: #E74C3C;
    }
/* Serie Detail */
.seriedetail{
  text-align: center;
}
  .seriedetail__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 10px 0 2px;
  }
  .seriedetail__genre{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color:#A9A4A4;
    display:block;
    padding: 2px 0 10px;
    
  }
  .seriedetail__image{
    display:block;
    max-width: 328px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .seriedetail__watchtrailer{
    font-family: 'Roboto', sans-serif;
    color:black;
    background-color: #f5e400;
    text-decoration: none;
    display:block;
    padding: 5px;
    margin: 10px auto;
    max-width: 328px;
    border-radius: 6px;
  }
  .seriedetail__watchtrailer:hover{
      background-color: #f5e50098;
    }
  .seriedetail__text{
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    text-align: justify;
    max-width: 328px;
    margin: 15px auto;
  }
/* Avaliação */
.serieavaliation{
  background-color: #EEEEEE;
  color: rgb(1, 7, 68);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 10px auto;
  
}
.serieavaliation__title{
  font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 10px 0 10px;
    text-align: center
}
.serieavaliation__image{
    display:block;
    text-align: center;
    max-width: 328px;
    margin: 15px auto;
}
.serieavaliation__percent{
  color: rgb(116, 189, 7);
  font-size: 72px;
  text-align: center;
  max-width: 328px;
  margin: 15px auto;
}
.serieavaliation__share{
  text-align: center;
  padding: 30px;
  font-size: 26px;

}
.serieavaliation__shareimages{

  margin: 20px 35px;

}
/* Rodapé */
.footer{
  background-color:#EEEEEE;
  color: #C0392B;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
    
}
@media(min-width:600px){
  .footer{
    display: flex;
    align-content: flex-start;

  }
}
  .footer__image{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    

  }
  .footer__element{
    padding: 20px;
    
  }
.form-email{
  background: #EEEEEE;
  border: 1px solid #C0392B;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  height: 33px;
  text-indent: 10px;

}

.btn-salvar{
  background: #C0392B;
  color:white;
  border: 1px solid #C0392B;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  width: 50px;
  height: 33px;
  margin-left: -10px;
  margin-top: 8px;
  

  
}
.btn-salvar:hover{
  background: white;
  color:#C0392B;
  

  
}
